[submodule "libs/SourceCode/keystone"]
	path = libs/SourceCode/keystone
	url = https://github.com/desmonHak/keystone
[submodule "libs/SourceCode/capstone"]
	path = libs/SourceCode/capstone
	url = https://github.com/desmonHak/capstone
[submodule "libs/SourceCode/DistanciaLevenshtein"]
	path = libs/SourceCode/DistanciaLevenshtein
	url = https://github.com/desmonHak/DistanciaLevenshtein.git
[submodule "doc/VMdoc"]
	path = doc/VMdoc
	url = https://github.com/desmonHak/VMdoc.git
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/desmonHak/preprocessor.git
[submodule "libs/SourceCode/LibPEparse"]
	path = libs/SourceCode/LibPEparse
	url = https://github.com/desmonHak/LibPEparse.git
	branch = main
[submodule "libs/SourceCode/vesta_alloc"]
	path = libs/SourceCode/vesta_alloc
	url = https://github.com/vesta-lang/vesta_alloc.git
[submodule "profiler"]
	path = profiler
	url = https://github.com/vesta-lang/vesta_prof.git
